.header * {
  a {
    color: var(--text-light);
  }
}

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.header__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.header__title a img {
  width: 100px;
  height: auto;
}

.header__menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 1.2rem;
  gap: 1.5rem;
  @container style(--is-mobile) {
    display: none;
  }
}

.header__menu--mobile {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  padding: 1rem;
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
}

.header__menu--mobile a {
  color: var(--text-link-light);
  font-weight: bold;
}

.header__menu--mobile.header__menu--open {
  display: none;
  @container style(--is-mobile) {
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 1rem; 
  }
}

mobile-button {
  display: none;
  @container style(--is-mobile) {
    display: block;
  }
}

mobile-button button {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  transition: transform 0.3s ease;
}

.mobile-button__icon--cross {
  display: none;
}

header:has(.header__menu--open) .mobile-button__icon--burger {
  display: none;
}

header:has(.header__menu--open) .mobile-button__icon--cross {
  display: inline;
}

.mobile-button__icon--cross {
  filter: brightness(0) saturate(100%) invert(28%) sepia(97%) saturate(6706%) hue-rotate(346deg) brightness(102%) contrast(104%);
}
