.postPreview {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-bottom: 1px solid var(--underline);
  gap: 8px;
}

.postPreview .heading h3 {
  margin: 0;
}
.postPreview .heading p {
  margin: 0;
}

.postPreview * {
  color: var(--text-light);
}
