/* include css */
@import url("layouts/blog.css");
@import url("Components/header.css");
@import url("Components/tag.css");
@import url("Components/postPreview.css");

/* Global styles */
:root {
  --background-dark: #1e1e2e;
  --background-light: #f0f8f2;
  --button: #d3daee;
  --text-dark: #f0f8f2;
  --text-light: #1e1e2e;
  --text-link-dark: #78c2ad;
  --text-link-light: #ff008b;
  --tag-dark: #407ca2;
  --tag-light: #b51f3d;
  --underline: #375a7f;
  --body: "Zen Maru Gothic", serif;
  @media (width <= 700px) {
    --is-mobile: true;
  }
}

html {
  background-color: var(--background-light);
  color: var(--text-light);
}

body {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  text-align: justify;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover {
    opacity: 0.7;
  }
}

* {
  font-family: var(--body);
}

/* Media Query */
@container style(--is-mobile) {
  body {
    width: 350px;
  }
}
