---
import { getAllPosts, getUniqueTags } from '@/utils/post';
import Layout from '@/layouts/Layout.astro'
import PostList from '@/components/PostList.astro';
import TagList from '@/components/TagList.astro';

const allPosts = await getAllPosts();
const allTags = await getUniqueTags();

const pageTitle = "Blog";
---
<Layout pageTitle={pageTitle}>
  <section>
    <h2>Tags</h2>
    <TagList tagList={allTags} />
  </section>
  <section>
    <h2>Posts</h2>
    <PostList postList={allPosts} isTagsVisible={true} />
  </section>
</Layout>