---
import { getAllPosts, getUniqueTags, sortPostsByDate } from '@/utils/post';
import Layout from '@/layouts/Layout.astro'
import ProjectList from '@/components/ProjectList.astro';
import { getAllProjects } from '@/utils/project';

const allProjects = await getAllProjects();
const allPosts = await getAllPosts();
const sortPosts = sortPostsByDate(allPosts);
const allTags = await getUniqueTags();

const pageTitle = "Works";
---
<Layout>
  <h1>{pageTitle}</h1>
  <ProjectList projectList={allProjects} />
</Layout>
