---
---
<header class="header">
  <div class="header__title">
    <a href="/"><img src="/title.png" width="100" height="44" /></a>
  </div>
  <div class="header__menu">
    <a href="/">Top</a>
    <a href="/projects">Project</a>
    <a href="/blog">Blog</a>
  </div>
  <details class="mobile__menu">
    <summary class="mobile-button">
      <img class="mobile-button__icon--burger" src="/icons/menu-burger.svg" height="20">
      <img class="mobile-button__icon--cross" src="/icons/cross.svg" height="15" />
    </summary>
    <div class="header__menu--mobile" id="header-menu">
      <a href="/">Top</a>
      <a href="/projects">Project</a>
      <a href="/blog">Blog</a>
    </div>
  </details>
</header>
