---
---
<header class="header">
  <div class="header__title">
    <a href="/">Kotonayo</a>
  </div>
  <div class="header__menu">
    <a href="/blog">Blog</a>
    <a href="/tags">Tags</a>
    <a href="https://github.com/koto74/astro-homepage">GitHub</a>
  </div>
</header>
