---
import { getFormatDate } from '@/utils/date';
import type { CollectionEntry } from 'astro:content';
import TagList from '@/components/TagList.astro';

interface Props {
  post: CollectionEntry<"post">;
  isTagsVisible?: boolean;
};

const { post, isTagsVisible } = Astro.props;
const postDate = getFormatDate(post.data.publishDate);
---
<section class="postPreview">
  <div class="heading">
    <p>{postDate}</p>
    <a href={`/posts/${post.slug}`}>
      <h3>{post.data.title}</h3>
    </a>
  </div>
  {isTagsVisible && <TagList tagList={post.data.tags} />}
</section>

