---
import type { CollectionEntry } from 'astro:content';

interface Props {
  project: CollectionEntry<"projects">;
};

const { project } = Astro.props;
---
<section class="projectCard">
  <a href={`/projects/${project.slug}`}>
    <img src={project.data.image} alt="ProjectImage" />
    <h3>{project.data.title}</h3>
    <p>{project.data.description}</p>
  </a>
</section>
