.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile__name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

.introduction__box h2 {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.introduction__box p {
  margin: 0 8px;
}

.skill__icons {
  display: flex;
  margin: 0 8px;
  gap: 1rem;
}

.sns {
  margin-left: 8px;
  gap: 1rem;
}

.sns a {
  display: flex;
}

.sns a p {
  font-size: 1.2rem;
  color: var(--text-light);
}
