.postContent img {
  max-width: 100%;
}

.postContent ul {
  list-style: disc;
  padding-left: 20px;
}

.postContent pre {
  border-radius: 5px;
}
.postContent pre code {
  padding: 1em;
  overflow-x: auto;
  display: block;
  white-space: pre;
  word-wrap: normal;
  line-height: 1.5;
  font-size: 0.9em;
}

.postContent p code {
  background-color: #d3d3d3;
  font-weight: bold;
  border-radius: 3px;
  padding: 0.2em 0.4em;
  font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 0.9em;
  white-space: nowrap;
}
