---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import TagList from "@/components/TagList.astro";
import { getFormatDate } from "@/utils/date";

interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;
const { Content } = await post.render();

const {
  data: { title, description, publishDate, author, tags },
} = post;
const articleDate = getFormatDate(publishDate);
---

{/* TODO: setting ogImage */}
<Layout meta={{ title, description, articleDate }}>
  <section class="postTitle">
    <h1>{title}</h1>
    <p class="author">By {author}</p>
    <p class="publicationDate">Publication Date: {articleDate}</p>
    <TagList tagList={tags} />
  </section>
  <article class="postContent">
    <Content />
  </article>
</Layout>
